<% if @waypoint.blank? %>
  <h3>Vehicle does not exist or does not register waypoints</h3>
<% else %>
  <div id="map"></div>
  <script>
    function initMap() {
      let mapDiv = document.getElementById('map')
      let latLng = {
        lng: <%= @waypoint.last.latitude %>,
        lat: <%= @waypoint.last.longitude %>
      }

      let map = new google.maps.Map(mapDiv, { zoom: 15, center: latLng })

      let marker = new google.maps.Marker({
        position: latLng,
        map: map,
        title: 'Hello World!'
      })
    }
  </script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqBNLTWQkexJKI9cHfdQSXm5unJGde_-M&callback=initMap">
  </script>
<% end %>
